<div class="alert alert-info alert-dismissible fade show" role="alert">
	<i class="bx bx-error"></i>
	<strong>This Job Listing Has Expired</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">×</span>
	</button>
	<p>To Make this job visable again, you can change the dealine date.</p>
	<p class="font-weight-bold">Has this job been filled?</p>

	<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
	 Mark As Filled
	</button>
</div><!--/.alert-->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mark Job As Filled</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<%= simple_form_for(@job, 
					:url => mark_as_filled_job_url(), 
					:method => :patch) do |f| %>
					
					<%= f.input :date_filled, 
						:label => "Date job was filled" %>

					<%= f.submit "Mark As Filled", 
						:class => "btn btn-primary"  %>
				<% end %>
      </div>
    </div>
  </div><!--/.modal-dialog-->
</div> <!--/.modal-->