<div id="job-list">
  <% @active_jobs.each do |job| %>
    <div class="card card-row shadow-light-lg mb-3 lift lift-lg">
      <div class="card-body">

        <%if admin? or editor?  %>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>

          <% if job.filled? %>
            <span class="badge badge-lg badge-success-soft float-right ml-3">
              <span class="text-uppercase font-weight-bold"><%= job.filled_status? %> </span>
            </span>
          <% else %>
            <span class="badge badge-lg badge-danger-soft float-right ml-3">
              <span class="text-uppercase font-weight-bold"><%= job.filled_status? %> </span>
            </span>
          <% end %>
        <% end %>

        <span class="badge badge-lg badge-primary-soft float-right">
          <span class="text-uppercase font-weight-bold"><%= find_category(job.category_id).name %> </span>
        </span>

        <h3 class="font-weight-bold"><%= link_to job.title, job %></h3>

        <p class="mb-0 small text-muted">
          Department: <%= job.department.name %> | Grade: <%= job.start_grade %> - <%= job.end_grade %>
        </p>

        <div class="jobs_days_left card-meta p-0 pt-2">
          <hr class="card-meta-divider mb-1">
          <i class="bx bx-time"></i>
          <p class="small text-muted font-weight-bold mr-2 mb-0 pl-2">Days left: <%= job.days_left %></p>
          <p class="ml-auto small text-muted font-weight-bold pt-2">Deadline: <%= job.ends_on %></p>
          <p class="ml-auto small text-muted font-weight-bold pt-2">Salary: $<%= job.start_salary%> - $<%= job.end_salary %></p>
        </div><!--/.jobs_days_left-->

      </div><!--/.card-body-->
    </div><!--/.card-->
  <% end %>
</div><!--/.jobs-->