<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">

      <h6 class="font-weight-bold text-uppercase mb-3">
        Browse Categories
      </h6>
      
      <ul class="card-list list text-gray-700 mb-6">
        <li class="list-item">
          <%= link_to 'All', root_path %>
          <% if !admin? or !editor? %>
            <%= format_count(@active_jobs_count) %>
          <% else %>
            <%= format_count(@jobs.count) %>
          <% end %>
        </li>

        <% if admin? or editor? %>
          <li class="list-item">
            <%= link_to 'Active Jobs' %>
            <%= format_count(@active_jobs_count) %>
          </li>

          <li class="list-item">
            <%= link_to 'Filled Jobs' %>
            <%= format_count(@filled_jobs.count) %>
          </li>

          <li class="list-item">
            <%= link_to 'Not Filled Jobs' %>
            <%= format_count(@not_filled_jobs_count) %>
          </li>
        <% end %>

        <% if !admin? and !editor? %>
          <% @active_categories.each do |category| %>
            <li class="list-item">
              <%= link_to jobs_path(:category => category), class:"list-link text-reset" do %>
                <%= category.name %>
                <%= format_count(@active_jobs_category_amount = active_job_categories_by_id(category.id).count) %>
              <% end %> 
            </li>
          <% end %>
        <% else %>
          <% @categories.each do |category| %>
            <li class="list-item">
              <%= link_to category.name  %>
            </li>
          <% end %>
        <% end %>
      </ul>
    
      <h6 class="font-weight-bold text-uppercase mb-3">
        Departments
      </h6>

      <ul class="card-list list text-gray-700 mb-6">
        <% if !admin? and !editor? %>
          <% @active_departments.each do |department| %>
            <li class="list-item">
              <%= link_to department.name, jobs_path(:department => department), class:"list-link text-reset" %>
            </li>
          <% end %>
        <% else %>
          <% @departments.each do |department| %>
            <li class="list-item">
              <%= link_to department.name, jobs_path(:department => department), class:"list-link text-reset" %>
            </li>
          <% end %>
        <% end %>
      </ul>
      
      <% if !admin? and !editor? %>
        <h6 class="font-weight-bold text-uppercase mb-3">
          Salary Range
        </h6>

        <ul class="card-list list text-gray-700 mb-6">
          <% @active_jobs_salaries.each do |salary| %>
            <li class="list-item">
              <%= link_to "$#{salary[0]} - $#{salary[1]}",
                  jobs_path(:start_salary => salary[0],
                            :end_salary => salary[1]
                            )  %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div> <!--/.card-body-->
  </div><!--/.collapse-->
</div><!--/.card-->