<div class="pt-md-8">
  <%= render 'layouts/alerts' %>

  <!-- Search  -->
  <div class="search py-6">
    <div class="row">
      <div class="col-12">
        <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'rounded shadow' } do |f| %>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text border-0 pr-1">
                <i class="fe fe-search"></i>
              </span>
            </div>

            <%= f.input :title, 
                        :input_html => { class:"border-0 px-1", placeholder:"Search for a job...", arialabel: "Search for a job..." },
                        :label => false,
                        :required => false,
                        :wrapper_html => { class:"mb-0 custom-form-group" } %>

            <div class="input-group-append">
              <span class="input-group-text border-0 py-0 pl-1 pr-3">
                <%= f.submit "Search", class: "btn btn-sm btn-primary" %>
              </span>
            </div>
          </div> <!--/.input-group-->
        <% end %>
      </div><!--/.col-->
    </div> <!-- / .row -->
  </div> <!--/.search-->

  <div class="row">
    <div class="col-12 col-md-3">
      <%= render 'side_filter' %>
    </div><!--/.col-->

    <div class="col-12 col-md-9">
      <% if admin? or editor? %>
        <%= link_to 'New Job', new_job_path, class: "btn btn-sm btn-primary mb-4" %>
      <% end %>
      
      <% if @active_jobs.present? %>
        <%= render 'jobs' %>
      <% else %>
        <div class="col-12 col-md-10">
          <h3 class="text-muted text-center font-weight-bold">Nothing Found</h3>
          <%= image_tag("no-job.svg", :alt => "no-job-svg", :class => "img-fluid") %>
        </div>
      <% end %>

      <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div><!--/.col-->
  </div><!--/.row-->

</div>