<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  	<%= f.input :email,
  							:input_html => { :placeholder => "name@gmail.comm"} %>

  	<%= f.input :password,
  							:label => "New Password" %>

  	<%= f.input :password_confirmation,
  							:label => "Confirm New Password" %>
		
		<p>User's Role <br> <strong class="text-muted">Note: Admin users has the power of an admin and an editor, so no need to check admin and editor if creating an admin user.</strong></p>

  	<%= f.input :admin,
  							:hint => "Can create, destroy and edit users as well as editor functions" %>

  	<%= f.input :editor, 
  							:hint => "Can create and edit: job listings, departments and categories" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
