<div class="pt-md-8">
	<%= render 'layouts/back', :path => users_path, :text => "Back" %>

	<h1 class="display-4 mb-4 mt-4">Editing User</h1>

  <p class="text-primary">
  	To Change password of user, enter the new password in the password field and enter the password again in the confirmation field.
	</p>
	
	<%= render 'form', user: @user %>
</div>