<div class="pt-md-8">
  <%= render 'layouts/alerts' %>

  <h1 class="display-4 mb-4 mt-4">Manage Users</h1>
  <%= link_to 'New User', new_user_path, class: "btn-sm btn btn-primary" %>

  <p class="mt-5 text-muted font-weight-bold">To protect user accounts, passwords will not be visable. To change a user's password, let the users go the forget password route or you may change it by editing that user.</p>

  <div class="table-responsive shadow mt-4">
    <table class="table table-stripe">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
              <%= link_to 'Edit', edit_user_path(user) %>
              <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>