<div class="d-flex flex-column">

  <div class="row align-items-center justify-content-center no-gutters min-vh-100">
    <!-- Illustration -->
    <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
      <%= image_tag("forgot-password.svg", :alt => "forgot-password-svg", :class => "img-fluid") %>
    </div>
    
    <!-- Form -->
    <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
      <h1 class="mb-0 font-weight-bold">Forgot your password?</h1>
      <p class="mb-6 text-muted">
        Enter your email to reset your password.
      </p>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: "Email Address",
                      input_html: { autocomplete: "email", placeholder: "name@gmail.com" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Reset Password", class:"btn btn-block btn-primary" %>
        </div>
      <% end %>
    
      <p class="mb-0 font-size-sm text-muted mt-4">
        Remember your password?
        <%= link_to 'Log in', new_session_path(resource_name) %>
      </p>
    </div><!--/.col-->
  </div><!--/.row-->


</div>