<div class="pt-md-8">
  <%= render 'layouts/alerts' %>

  <h1 class="display-4 mb-4 mt-4">Departments</h1>
  <%= link_to 'New Department', new_department_path, class: "btn btn-sm btn-primary" %>

  <div class="table-responsive shadow mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @departments.each do |department| %>
          <tr>
            <td><%= department.id %></td>
            <td><%= department.name %></td>
            <td><%= link_to 'Edit', edit_department_path(department) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!--/.table-responsive-->
  
</div>