<div class="pt-md-8">
	<%= render 'layouts/back', :path => categories_path, :text => "Back" %>

	<h1 class="display-4 mb-4 mt-4">New Department</h1>

	<%= render 'form', department: @department %>
</div>