<div class="d-flex flex-column">
  <div class="row align-items-center justify-content-center no-gutters min-vh-100">
    <!-- Illustration -->
    <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
      <%= image_tag("office.svg", :alt => "office-svg", :class => "img-fluid") %>
    </div>
    
    <!-- Form -->
    <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
      <h2 class="mb-0 font-weight-bold mb-4">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-signin") do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: "Email Address",
                      input_html: { autocomplete: "email", placeholder: "name@gmail.com" } %>

          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", placeholder: "Enter your password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class:'btn btn-block btn-primary mb-4' %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>