// @import "bootstrap";
@import "normalize";
@import "theme.min.css";	

$accent-color: #199710;

body {
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

.card-body {
	padding: 20px !important;
}

.jobs_days_left {
	display: flex;
	align-items: center;
	h6, i {
		display: inline-block;
	}
	i {
		color: red;
	}
}

.custom-form-group {
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	margin-bottom: 0;
}

.text-align-right {
	text-align: right;
}
