<div class="pt-md-8">
  <%= render 'layouts/alerts' %>

  <h1 class="display-4 mb-4 mt-4">Categories</h1>
  <%= link_to 'New Category', new_category_path, class: "btn-sm btn btn-primary" %>

  <div class="table-responsive shadow mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!--/.table-responsive-->

</div>