<% if notice.present? %>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong><%= notice %></strong> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">×</span>
		</button>
	</div>
<% end %>

<% if alert.present? %>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<strong><%= alert %></strong> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">×</span>
		</button>
	</div>
<% end %>