<nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href="blog.html" class="text-gray-700">
                  Jobs
                </a>
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>