<nav class="navbar navbar-light navbar-expand-lg mb-3 shadow">
  <%= link_to 'Jobs', root_path, class: "navbar-brand pl-4" %>
    
  <ul class="navbar-nav ml-auto">
    <% if admin? %>
      <li class="n  av-item">
        <%= link_to 'Manage Users', users_path, class: "nav-link" %>
      </li>
    <% end %>

    <% if admin? or editor? %>
      <li class="nav-item">
        <%= link_to 'Departments', departments_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Categories', categories_path, class: "nav-link" %>
      </li>
      
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-danger" do  %>
          <i class="bx bx-exit font-size-16 align-middle mr-1 text-danger"></i> Log Out
        <% end %> 
      </li>
    <% end %>
  </ul>
</nav>
